@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Roboto:wght@700&display=swap');

body {
    background-color: #EEF9BF;
}

.website {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {    
    text-align: center;
    margin-top: 80px;
}

header > h1 {
    font-family: 'Roboto';
    font-size: 56px;
    line-height: 150px;
    animation: h1Anim 1s ease 0s 1 normal forwards;
    color: #75B79E; 
}

header > p {
    display: none;
    font-family: 'Roboto';
    font-size: 14px;
    color: #75B79E; 
}

.start header  {
    padding: 200px;
}

.start header > h1 {
    animation: startTitleAnim 3s ease 0s infinite normal forwards;
}

.start header > p {
    display: block;
    animation: startPAnim 1500ms ease 0s infinite normal forwards;
}

.start .clock-score {
    display: none;
}

.start main {
    display: none;
}

.start div {
    display: none;
}

.clock-score {
    display: block;
    width: 180px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #75b79ee0;
    border-radius: 5px;
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 1;
}

.clock-score section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.clock-score h1 {
    font-family: 'Roboto';
    font-size: 14px;
    color: #EEF9BF;
}

.clock-score p {
    font-family: 'Exo';
    font-size: 14px;
    color: #EEF9BF;
}

.clock-score div {
    width: 1px;
    background-color: #EEF9BF;
    height: 50px;
}



main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center;
    align-items: center;
}

section .start {
    animation: cardsAnim 1s ease 0s 1 normal forwards;
}

figure {
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.15,.6,.88,.46);
}

figure img {
    width: 100px;
    height: 100px;
}

figure .ocult{
    display: none;
}

.upturned {
	transform: rotatey(180deg);
}

.resolved {
    opacity: 0.5;
}

.block-on {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}
